VITE_API_URL=http://localhost:3000/api  puede ser cambiado a http://localhost:3000 si no se tiene un prefijo /api en el backend, pero es recomendable mantenerlo para una mejor organización de las rutas.